body {        
  background-color: #002020;
  position: relative;
}
form {
  position: absolute;
  top: 400px;
  left: 450px;
}

#header {
  background-color: #8000ff;
  padding: 75px 0px;
  color: #00ffff;
  position: fixed;
  top: 0;
  width: 100%;
}
