body {        
  background-color: #002020;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
}
FoxHominidLogo {
  position: fixed;
  z-index: 8;
  top: 4px;
  left: 4px;
}
PurplePikachuMiner {
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 20px;
}
FoxHominidEvolutionYear {
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 300px;
}
FoxHominidMiner {
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 580px;
}
MinecraftChickenMiner {
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 860px;
}
#header {
  width: 100%;
  position: fixed;
  background-color: #8000ff;
  color: #FF7F27;
  font-size: 40px;
  top: 0;
  z-index: 7;
  left: -10;
  padding: 5px 100px;
}
#header-yellow {
  position: fixed;
  color: #FFDF30;
  font-size: 40px;
  top: 0;
  z-index: 8;
  left: 0;
  padding: 5px 165px
}
Games {
  position: fixed;
  z-index: 8;
  font-size: 40px;
  top: 5;  
  left: 350;  
}
Videos {
  position: fixed;
  z-index: 8;
  font-size: 40px;
  top: 5;  
  left: 520;  
}
DressUp {
  position: fixed;
  z-index: 8;
  font-size: 40px;
  top: 5;  
  left: 690;  
}
Apps {
  position: fixed;
  z-index: 8;
  font-size: 40px;
  top: 5;  
  left: 900;  
}
Wiki {
  position: fixed;
  z-index: 8;
  font-size: 40px;
  top: 5;  
  left: 1050;  
}
.gameslink {
  text-decoration: none; 
}
a {
  display: block;
}
.footer {
  width: 100%;
  position: fixed;
  background-color: #8000ff;
  color: #00FFFF;
  font-size: 30px;
  bottom: 0;
  z-index: 8;
  left: -10;
  padding: 10px 80px;
}
.WelcomeCSS {
  left: 25%;
  width: 50%;
  text-align: center;
  position: absolute;
  color: #00FFFF;
  font-size: 60px;
  top: 80;
  z-index: 1;
}
.WelcomeCSS1 {
  left: 25%;
  width: 50%;
  text-align: center;
  position: absolute;
  color: #00FFFF;
  font-size: 30px;
  top: 180;
  z-index: 1;
}
.WelcomeCSS2 {
  left: 25%;
  width: 50%;
  text-align: center;
  position: absolute;
  color: #00FFFF;
  font-size: 30px;
  top: 220;
  z-index: 1;
}
.FixedVideosFooter {
  position: absolute;
  top: 900;
  z-index: 1;
}
.FixedGamesFooter {
  position: absolute;
  top: 960;
  z-index: 1;
}
VideosFullscreen {
  position: absolute;
  z-index: 1;
  top: 90px;
  width: 44%;
  left: 22%;  
}
GamesFullscreen {
  position: absolute;
  z-index: 1;
  top: 232px;
  width: 50%;
  left: 34%;  
  transform: scale(1.5);
}
DressUpFullscreen {
  position: absolute;
  z-index: 1;
  top: 90px;
  width: 28%;
  left: 14%;  
}
#TotalGameScore {
  color: #00ffff;
  font-size: 40px;
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 400px;
}
#PPMScore {
  color: #00ffff;
  font-size: 30px;
  position: absolute;
  z-index: 1;
  top: 370px;
  left: 60px;
}
#FHEYScore {
  color: #00ffff;
  font-size: 30px;
  position: absolute;
  z-index: 1;
  top: 370px;
  left: 340px;
}
#FHMScore {
  color: #00ffff;
  font-size: 30px;
  position: absolute;
  z-index: 1;
  top: 370px;
  left: 620px;
}
#MCMScore {
  color: #00ffff;
  font-size: 30px;
  position: absolute;
  z-index: 1;
  top: 370px;
  left: 900px;
}


Years10OfFoxHominid {
  position: absolute;
  z-index: 1;
  top: 90px;
  left: 20px;
}

FoxHominidNewVsFoxHominidOld {
  position: absolute;
  z-index: 1;
  top: 90px;
  left: 300px;
}
