body {        
  background-color: #002020;
  position: relative;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 100;
}
FoxHominidLogo {
  position: fixed;
  z-index: 8;
  top: 4px;
  left: 4px;
}
FoxHominidEvolutionYear {
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 20px;
}
PurplePikachuMiner {
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 300px;
}
FoxHominidMiner {
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 580px;
}
#header {
  width: 100%;
  position: fixed;
  background-color: #8000ff;
  color: #FF7F27;
  font-size: 40px;
  top: 0;
  z-index: 7;
  left: -10;
  padding: 5px 100px;
}
#header-yellow {
  position: fixed;
  color: #FFDF30;
  font-size: 40px;
  top: 0;
  z-index: 8;
  left: 0;
  padding: 5px 165px
}
Games {
  position: fixed;
  z-index: 8;
  font-size: 40px;
  top: 5;  
  left: 350;  
}
Videos {
  position: fixed;
  z-index: 8;
  font-size: 40px;
  top: 5;  
  left: 520;  
}
DressUp {
  position: fixed;
  z-index: 8;
  font-size: 40px;
  top: 5;  
  left: 690;  
}
.gameslink {
  text-decoration: none; 
}
a {
  display: block;
}
.footer {
  width: 100%;
  position: fixed;
  background-color: #8000ff;
  color: #00FFFF;
  font-size: 30px;
  bottom: 0;
  z-index: 8;
  left: -10;
  padding: 10px 80px;
}
.WelcomeCSS {
  position: absolute;
  color: #00FFFF;
  font-size: 60px;
  top: 80;
  z-index: 1;
  left: 340;
}
.WelcomeCSS1 {
  position: absolute;
  color: #00FFFF;
  font-size: 30px;
  top: 180;
  z-index: 1;
  left: 390;
}
.WelcomeCSS2 {
  position: absolute;
  color: #00FFFF;
  font-size: 30px;
  top: 220;
  z-index: 1;
  left: 450;
}
.FixedVideosFooter {
  position: absolute;
  top: 1720;
  z-index: 1;
}
VideosFullscreen {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 200px;
}
#TotalGameScore {
  color: #00ffff;
  font-size: 40px;
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 400px;
}
#FHEYScore {
  color: #00ffff;
  font-size: 30px;
  position: absolute;
  z-index: 1;
  top: 370px;
  left: 60px;
}
#PPMScore {
  color: #00ffff;
  font-size: 30px;
  position: absolute;
  z-index: 1;
  top: 370px;
  left: 340px;
}
#FHMScore {
  color: #00ffff;
  font-size: 30px;
  position: absolute;
  z-index: 1;
  top: 370px;
  left: 620px;
}
