body {        
  background-color: #002020;
  position: relative;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 100;
}
FoxHominidLogo {
  position: fixed;
  z-index: 4;
  top: 4px;
  left: 4px;
}
FoxHominidEvolutionYear {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 20px;
}
PurplePikachuMiner {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 300px;
}
#header {
  width: 100%;
  position: fixed;
  background-color: #8000ff;
  color: #FF7F27;
  font-size: 40px;
  top: 0;
  z-index: -1;
  left: -10;
  padding: 5px 70px
}
#header-yellow {
  position: fixed;
  color: #FFDF30;
  font-size: 40px;
  top: 0;
  z-index: 4;
  left: 0;
  padding: 5px 135px
}
Games {
  position: fixed;
  z-index: 4;
  font-size: 40px;  
  top: 5;  
  left: 290;  
  a:link {
    text-decoration: none;
    color: #00ffff;
  }
}
